<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/</directory>
            <file>Checker/HeadersNotSentTest</file>
            <file>Checker/HeadersSentTest</file>
        </testsuite>
        <testsuite name="Unit Checker">
            <directory>tests/Checker</directory>
            <file>HeadersNotSentTest</file>
            <file>HeadersSentTest</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>